/* Color Theme Swatches in Hex */
.hex-1 { color: #68788C; }
.hex-2 { color: #979DA6; }
.hex-3 { color: #F2E205; }
.hex-4 { color: #F2EEB3; }
.hex-5 { color: #F2D64B; }
.color-principal { color: #FFC700;}


body{
    background: whitesmoke;
    font-family: 'Raleway', sans-serif;
}


nav{
    background: #FFC700;
    display: flex;
    justify-content: center;

}

nav li{
    list-style: none;
     display: inline-flex;
     margin-left: 1em;
     margin-right: 1em;
    
}

nav li a {
    text-decoration: none;
    color: #333;
    font-size: 13px;
    
}

.nav__li-item:hover{
    color: whitesmoke;
}


footer {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    background: #333;
    width: 99%;
    text-align: justify;
    padding-left: 1em;
    padding-right: 1em; 
    font-size: 9px;
  }

  footer p {
        margin: 3px;
        color: whitesmoke;
  }
  h1{
    font-family: 'Squada One', cursive;
    color: #333;
    font-size: 35px;
  }

  #login{
    display: flex;
    flex-direction: column;
    align-items: center;

    border: #F2D64B solid 2px;
    background: conic-gradient(#FFC700, #F2D64B); 
    border-radius: 20px;
    width: 500px;
    height: 360px;
    margin-top: 100px;
    margin-left: 100px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  }

  #contenedor{
      display: flex;
      flex-direction: column;
      justify-content: center;
  }

#form__input-usuario,.form__input-contraseña{
    display: flex;
    flex-direction: column;
    margin-top: 40px;
   
  }

#label__usuario, .label__password{
    color: black;
    font-size: 12px;
    padding-left: 15px;
}


#etiquetas__usuario{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#error_usuario{
  color: darkred;
  font-size: 12px;
}

.input__icono-contraseña{
  background-image: url('../iconos/lock.png');
  background-repeat: no-repeat;
  background-position: 4px center;
  background-size: 12px;
  display: flex;
  align-items: center;
  
  width: 280px;
  padding-left: 28px;
  height: 30px;
  border: 1px solid #333;
  border-radius: 10px;
  margin-top: 10px;
}
.input__icono-contraseña input {
  font-size: 15px;
  border: none;
  width: 250px;
  background-color: transparent;
  color: black;
}
.input__icono-contraseña input:focus {
  outline: none;
  background-color: transparent;
}

.input-icono {
    background-image: url('../iconos/coolicon.png');
    background-repeat: no-repeat;
    background-position: 4px center;
    background-size: 12px;
    display: flex;
    align-items: center;
    width: 280px;
    padding-left: 28px;
    height: 30px;
    border: 1px solid #333;
    border-radius: 10px;
    margin-top: 10px;
  }
  .input-icono input {
    font-size: 15px;
    width: 250px;
    border: none;
    background-color: transparent;
    color: black;
  }
  .input-icono input:focus {
    outline: none;
    background-color: transparent;
  }


  #contenedor-imagen{
    margin-top: 100px;
    margin-left: 80px;
  }

  #contenedor-imagen img {
      width: 550px;
      height: 350px;
  }

#main{
      display: flex;
      flex-direction: row;
}

#links_opciones_usuario{
      display: flex;
      flex-direction: column;
      justify-content: center;
      flex-wrap: wrap;
      margin-top: 40px;
      font-size: 11px;
      width: 300px;
}

.link{
      text-decoration: none;
      color: black;
      padding: 2px;
      border-radius: 5px;

}

.link:hover{
    background-color: white;
    color: #333;
    
}

#contenedor__problemas-usuario{
        margin-top: 30px;
        display: flex;
        justify-content: space-between;
        width: 300px;
}

#form__boton-password {
    margin-top: 13px;
    display: flex;
    flex-direction: row-reverse;
}
#form__boton-password > button{
  background: #FFC700 ;
  color: #333;
  border-radius: 7px;
  width: 120px;
  height: 30px ;
  border: whitesmoke solid 1px;
  font-size: 13px;
}
#form__boton-password > button:hover{
  background-color: #F2D64B;
  color: black;
}

#form__boton-enviar{
      margin-top: 13px;
      display: flex;
      flex-direction: row-reverse;
}

#form__boton-enviar button{
    background: #FFC700 ;
    color: #333;
    border-radius: 7px;
    width: 120px;
    height: 30px ;
    border: whitesmoke solid 1px;
    font-size: 13px;
}

#form__boton-enviar button:hover{
    background-color: #F2D64B;
    color: black;
}

.link__nuevo-usuario{
    display: flex;
    justify-content: center;
}



.redes{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
}
.redes__logos img{
      width: 20px;
      height: 20px;
      margin-left: 3px;

}


.div__bienvenida{
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.nombre__usuario-form{
  font-weight: bold;
  color: black;
}

.div__etiquetas-password{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.label__password-error{
  color: darkred;
  font-size: 12px;
}

#logo_usuario_correcto{
  background-image: url('../iconos/check_circle.png');
  background-repeat: no-repeat;
  background-position: 4px center;
  background-size: 12px;
}

#logo_error_password{
  background-image: url('../iconos/disabled_by_default.png');
  background-repeat: no-repeat;
  background-position: 4px center;
  background-size: 12px;
}