/* Color Theme Swatches in Hex */
.hex-1 { color: #68788C; }
.hex-2 { color: #979DA6; }
.hex-3 { color: #F2E205; }
.hex-4 { color: #F2EEB3; }
.hex-5 { color: #F2D64B; }
.color-principal { color: #FFC700;}
/*___________________________________________________________________*/

#contenedor{
    display: flex;
    flex-direction: column;
}
#contenido{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-top: 60px; 
 
}

#imagen__contenido{
    max-width: 650px;
    max-height: 500px;
}

footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 2px;
    position: fixed;
    bottom: 0;
    background: #333;
    width: 100%;
    text-align: justify;
    font-size: 9px;
    color: #f5f5f5;
}
#infoPersonal{
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items: center;
    padding: 1em;
    background: #3f3d56;
    border-radius: 5%;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    margin-right: 2em;
    width: 25em;
    color: #FFF;
}