nav{
    background-color: #3f3d56;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
nav ul{
    height: max-content;
    display: flex;
    flex-direction: row;
}

nav ul li:hover{
    color: #979DA6;
}
nav ul li a {
    display: flex;
    align-items: center;
    color: #FFC700;
    text-decoration: none;
}

nav ul li a img {
    width: 12px;
    height: 12px;
    padding-right: 0.5em;
}
nav ul li{
    display: flex;
    list-style: none;
    margin-left: 2em;
    margin-right: 2em;
    width: max-content;
    height: max-content;
    align-items: center;
    justify-content: center;
}

nav ul li a img{
    width: 20px;
    height: 20px;
    margin-right: 2px;
}

nav #contenedor__info-user{
    
    display: flex;
    flex-direction: row;
    margin-right: 20px;

}

.datos__usuario{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
}


 #imagen__nav{
    display: flex;
    align-items: center;
    
} 

.datos__usuario p{
    margin-left: 1em;
    margin-right: 1em;
} 

#contenedor__info-user{
    color: #FFC700;
}

#imagen_cerrar_sesion:hover{
    cursor: pointer;
    background-image: url('../iconos/cerrar_sesion_claro.png');
}


.contenedor_item_datos{
    display: flex;
    flex-direction: column;
    margin: 0%;
    padding: 0%;
}

.etiqueta_datos{
    color: #FFC700;
    font-size: 0.8em;
    margin: 0%;
    padding: 0%;
}

.valor_datos{
    margin: 0%;
    padding: 0%
}

#contenedor_datos_usuarios{
    margin-left: 10px;
}