/* Color Theme Swatches in Hex */
.hex-1 { color: #68788C; }
.hex-2 { color: #979DA6; }
.hex-3 { color: #F2E205; }
.hex-4 { color: #F2EEB3; }
.hex-5 { color: #F2D64B; }
.color-principal { color: #FFC700;}
/*___________________________________________________________________*/

p{
    margin: 0%;
    padding: 0%;
}

#contenido_tabla{
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
    font-family: 'Hind Siliguri', sans-serif;
}

.cancelar_filtro{
    display: flex;
    flex-direction: row;
    align-items: center;
    color: darkred;
    cursor: pointer;
    
}

.cancelar_filtro > p {
    font-size: 1em;
    text-decoration: underline;
}


#filtros{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin:0%;
    padding: 0%;
}

#tabla{
    margin-left: 2em;
    margin-bottom: 5em;
    max-width: 70%;
}
table{
    border: #68788C solid 2px;
    margin-top: 2em;
    margin-left: 2em;
}

table tr:hover{
    background-color: #F2EEB3;
}
table tr th {
    background-color: #3f3d56;
    color: #FFC700;
    width: 200px;
}
.fila__tabla{
    margin-top: 1px;
}

#input_campo_filtrar{
    width: 380px;
}

#indice, #detalle{
    background-color: #3f3d56;
    color: #FFC700;
    width: 50px;
}

#filtros{
    margin-top: 1em;
    margin-left: 5em;
}

#filtros > form , #filtros > .cancelar_filtro{
        margin: 0%;
        padding: 0%;
}

.cancelar_filtro > img, .cancelar_filtro > p{
    margin: 0%;
    padding: 0%;
}

#ordenar{
    cursor: pointer;
    margin-left: 2em;
    width: 18px;
    height: 18px;
}

#td_detalle{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.descripcion{
    width: 300px;
}
#fecha__th{

}
.fecha{
    width: 20px;
}

#imagen_ver_detalle:hover{
    cursor: pointer;
}


.imagen__mostrar-mas{
    cursor: pointer;
}

#seccionPrincipal{
    display: flex;
    flex-direction: row;
}
#mas__informacion{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

}

#mas__informacion P{
    margin-left: 3px;
}
.info_items{
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    margin-left: 10px;
    padding: 0.4em;
}
.span_item{
    color: #FFC700;
    text-decoration: underline;
}

.div__informacion{
    position: fixed;
    max-width: 30%;
    min-width: 40%;
    right: 100px;
    top: 120px;
    background-color: #3f3d56;
    color: #F2EEB3;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.cambiarColorFila{
    background: #979DA6;
}

.cleanBackgound{
    background: whitesmoke;
}

#boton_realiazar_transferencia{
    cursor: pointer;
}


footer {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: #3f3d56;
    text-align: justify;
    padding-left: 1em;
    padding-right: 1em; 
    font-size: 9px;
    
  }

  footer p {
        margin: 3px;
        color: whitesmoke;
  }

  #contenedor_mostrar_mas{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    margin-top: 10px;    
  }

  #mostrar_mas{
    color: #FFC700;
    background-color: #3f3d56;
    padding: 4px;
    border-radius: 5px;
  }

  #mostrar_mas:hover{
    cursor: pointer;
    background-color: #68788C;
}


.linea_tabla{
    color: #3f3d56;

}
