/* Color Theme Swatches in Hex */
.hex-1 { color: #68788C; }
.hex-2 { color: #979DA6; }
.hex-3 { color: #F2E205; }
.hex-4 { color: #F2EEB3; }
.hex-5 { color: #F2D64B; }
.color-principal { color: #FFC700;}
/*___________________________________________________________________*/

#contenido_tabla{
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;

}

.cancelar_filtro{
    display: flex;
    flex-direction: row;
    align-items: center;
    color: darkred;
    cursor: pointer;
    margin: 0%;
    padding: 0%;
    margin-left: 1em;
    font-size: 1em;
}


#filtros{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin:0%;
    padding: 0%;
}

#tabla{
    margin-left: 5em;
    margin-bottom: 5em;
    min-width: 50%;
}
table{
    border: #68788C solid 2px;
    margin-top: 2em;
}


​table tr {
    border-bottom: 1px solid black;
}​

table tr:last-child { 
    border-bottom: none; 
}





table tr:hover{
    background-color: #F2EEB3;
}
table tr th {
    background-color: #3f3d56;
    color: #FFC700;
    width: 200px;
}
.fila__tabla{
    margin-top: 1px;
}

#indice, #detalle{
    background-color: #3f3d56;
    color: #FFC700;
    width: 50px;
}

#filtros{
    margin-top: 1em;
    margin-left: 5em;
}

#ordenar{
    cursor: pointer;
    margin-left: 2em;
    width: 18px;
    height: 18px;
}

#td_detalle{
    display: flex;
    justify-content: center;
    align-items: center;
}

#imagen_ver_detalle:hover{
    cursor: pointer;
}

#mostrar_mas:hover{
    cursor: pointer;
}

.imagen__mostrar-mas{
    cursor: pointer;
}

#seccionPrincipal{
    display: flex;
    flex-direction: row;
}
#mas__informacion{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 50%;
}

#mas__informacion P{
    margin-left: 3px;
}
.info_items{
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    margin-left: 10px;
}
.span_item{
    color: #FFC700;
    text-decoration: underline;
}

.div__informacion{
    position: fixed;
    max-width: 30%;
    min-width: 40%;
    right: 100px;
    top: 120px;
    background-color: #3f3d56;
    color: #F2EEB3;
    border-radius: 2%;
}

.cambiarColorFila{
    background: #979DA6;
}

.cleanBackgound{
    background: whitesmoke;
}

#boton_realiazar_transferencia{
    cursor: pointer;
}