/* Color Theme Swatches in Hex */
.hex-1 { color: #68788C; }
.hex-2 { color: #979DA6; }
.hex-3 { color: #F2E205; }
.hex-4 { color: #F2EEB3; }
.hex-5 { color: #F2D64B; }
.color-principal { color: #FFC700;}
/*___________________________________________________________________*/


#contenido{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 3em;
}
#contenedor_imagen{
    display: flex;
    align-items: center;
    margin-left: 2em;
}
#imagen_transferencia{
    
    max-width: 650px;
    max-height: 500px;
}

#contenedor__formulario{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 50%;
}

#contenedor__formulario form{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    border: #333 dotted 1px;
    padding: 1em;
    width: 50%;
}

#contenedor__boton{
    display: flex;
    flex-direction: row-reverse;
    justify-content: left;
}

.campo_formulario{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 1em;
    width: 50%;
}

#contenedor__formulario form input{
    width: 95%;
}

#contenedor__boton {
    margin-top: 13px;
    display: flex;
    flex-direction: row-reverse;
}
#boton_realiazar_transferencia {
  background: #FFC700 ;
  color: #333;
  border-radius: 7px;
  width: 120px;
  height: 30px ;
  border: whitesmoke solid 1px;
  font-size: 13px;
}
#boton_realiazar_transferencia:hover{
  background-color: #F2D64B;
  color: black;
}

.campo_formulario{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    width: 100%;
}

.campo_formulario > i , #faltan_completar_campos{
    
    color: #8b0000;
    margin: 0%;
    padding: 0%;
    justify-content: right;
}

#faltan_campos{
    display: flex;
    justify-content: right;
}

#exito{
    display: flex;
    flex-direction: row;
    /* justify-content: right; */
    min-width: 50%;
}

#transaccion_completada{
    margin-top: 2em;
    color:008000;
    border: #008000 solid 1px;
    border-radius: 10px;
    padding: 0.4em;
    width: 22em;
    text-align: center;
    
}